* {
    padding: 0;
    margin: 0;
    font-family: SansSerif;
}

.header {
    width: 100%;
    height: 50px;
    background-color: chocolate;
    display: flex;
    align-items: center;
    justify-content: center;
}

.central-container {
    width: 1150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-weight: bold;
    font-size: 22px;
}

.menu {
    display: flex;
    align-items: center;
}

.menu_item {
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    margin-right: 20px;
}

.menu_item:last-child {
    margin-right: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.first, .second, .last {
    width: 200px;
    height: 200px;
    margin: 7px;
}

.first {
    background: red;
}

.second {
    background-color: black;
}

.last {
    background-color: blue;
}

.logo-menu-mobile {
    width: 30px;
    display: none;
}

.logo-menu-mobile img {
    width: 100%;
}

@media screen and (max-width: 1150px) {
    .central-container {
        width: 100%;
        padding: 0 20px;
    }
}


@media screen and (max-width: 710px) {
    .container {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 443px) {
    .first, .second, .last {
        width: 100%;
    }
    .menu {
        display: none;
        position: absolute;
        top: 50px;
        background-color: chocolate;
        width: 100%;
        flex-direction: column;
        left: 0;
        align-items: center;
        justify-content: center;
    }
    .menu_item {
        margin: 20px 0;
        font-size: 18px;
    }
    .logo-menu-mobile {
        display: flex;
    }
}

@media screen and (max-width: 350px) {
    .second {
        display: none;
    }
}