body{
    font-family: SansSerif;
}
thead{
    color: white;
}
thead > tr > th:first-child{
    background-color: rgb(120 135 171);
}
thead > tr > th:last-child{
    background-color: rgb(6 21 57);
}
thead > tr > th:nth-child(2){
    background-color: rgb(79 98 142);
}
thead > tr > th:nth-child(3){
    background-color: rgb(46 65 114);
}
thead > tr > th:nth-child(4){
    background-color: rgb(22 41 85);
}
tbody > tr:nth-child(odd) > td:nth-child(odd){
    background-color: rgb(219 219 219);
}
tbody > tr:nth-child(odd) > td:nth-child(even){
    background-color: rgb(231 231 231);
}
tbody > tr:nth-child(even) > td:nth-child(odd){
    background-color: rgb(236 236 236);
}
tbody > tr:nth-child(even) > td:nth-child(even){
    background-color: rgb(243 243 243);
}
thead > tr > th:first-child {
    border-radius: 10px 0 0 0;
}
thead > tr > th:last-child {
    border-radius: 0 10px 0 0;
}
tbody > tr:last-child > td:first-child {
    border-radius: 0 0 0 10px;
}
tbody > tr:last-child > td:last-child {
    border-radius: 0 0 10px 0;
}
table{
    border-collapse: collapse;
}
td, th {
    padding: 15px 20px;
    text-align: center;
}
tbody > tr > td:first-child{
    text-align: left;
}
button{
    border-radius: 0;
    border-width: 1px;
    border-style: outset;
}